/* {padding:0, margin:0, border:none}*/

html, math, body {
                   font-family:"Times New Roman", Times, serif;
                   font-size:1em;
                   }

/*{font-family:Georgia, Verdana, Arial, Helvetica, sans-serif}*/


h1, h2, h3, h4, h5, h6 {
                         font-family:Arial, Helvetica, sans-serif;
                         }

/*"Trebuchet MS", "Lucida Sans", Arial, sans-serif*/

h1 {font-size:2em;}
h2 {font-size:1.8em;}
h3 {font-size:1.6em;}
h4 {font-size:1.4em;}
h5 {font-size:1.2em;}
h6 {font-size:1em;}

p.title {font-size:1.2em;}

a img,:link img,:visited img {
                               border:none;
                               }

/*
MMADE, a Mathematica DocBook Exporter
The license and Copyright information for MMADE is included in rights.txt
in the XML directory.
*/
